/* enables smooth/fluid scrolling in html element */
html {
    scroll-behavior: smooth;
}

/* sets the body foreground color */
body {
    color: #161616;
}

/* all anchor elements, sets the foreground color  */
a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}